<md-toolbar color="primary">
   <md-input-container floatPlaceholder="never"> 
    <input mdInput placeholder="Search for a Star Wars Person" [ngModel]="search" (ngModelChange)="searchFor($event)">
  </md-input-container>
</md-toolbar>


<md-table #table [dataSource]="dataSource" mdSort>
    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="gender">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Gender </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.gender}} </md-cell>
    </ng-container>

        <ng-container cdkColumnDef="birth_year">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Birth Year </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.birth_year}} </md-cell>
    </ng-container>

   <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row> 

   <md-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onClickPerson(row)"></md-row> 
</md-table>