<md-toolbar color="primary">
   <md-input-container floatPlaceholder="never"> 
    <input mdInput placeholder="Search for a Star Wars Person" [ngModel]="search" (ngModelChange)="searchFor($event)">
  </md-input-container>
</md-toolbar>

<md-list>
  <md-list-item md-button *ngFor="let person of people | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalPeople }">
     <button md-button (click)="onClickPerson(person)" md-line>{{ person.name }}</button> 
     <md-divider></md-divider>
  </md-list-item>
</md-list>

<pagination-controls (pageChange)="onPageChange($event)" ></pagination-controls>