<md-toolbar color="primary">
  <md-input-container floatPlaceholder="never">
    <input mdInput placeholder="Search a Star Wars Character">
  </md-input-container>
</md-toolbar>

<!-- <div> {{ people | json }}</div> -->
<md-list>
  <md-list-item md-button *ngFor="let person of people | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalPeople }">
     <button md-button (click)="onClickPerson(person)">{{ person.name }}</button>
    <md-divider></md-divider>
  </md-list-item>
</md-list>

<pagination-controls (pageChange)="onPageChange($event)" ></pagination-controls>